body{
	font-size: 23px;
	background-color: #95D5B2;
}
.main{
	background-image: url(img/fon.png);
	margin: 15px 0;
}
section{
	padding: 50px 0 20px;
}
.buttons, .trynow{
	color: #1A1A1C;
	padding: 5px 20px;
	text-decoration:none;
	font-size: 18px;
}
.btn{
	font-weight:bold;
	margin-right: 40px;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.trynow{
	font-size: 23px;
}
.navig {
	color: #1A1A1C;
	padding: 0 40px;
	text-decoration:none;
	font-size: 23px;
	display: inline-block;
}
.features{
	padding: 50px 0 20px;
	text-align: center;
}
.navbar, .features{
	background-color: #F4F4F6;
	color: #1A1A1C;
	box-shadow: 0.08em 0.08em 5px rgba(122,122,122,0.5)
}
.feature{
	box-shadow: 0 0.2em 3px rgba(122,122,122,0.5);
	width: 400px;
	display: inline-block;
	padding: 0 40px 50px 40px;
	font-size: 18px;
}
.imgfeature{
	width: 280px;
	margin: 0 10px 0 10px;
}
a{
	text-decoration: none;
}
a:hover{
		color:#40916c;
	}
hr {
	box-shadow: 5px;
	margin: 0;
 }
.reg{
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight:bold;
}
.contain{
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 5px 0;
	margin: 50px 180px;
	padding: 20px 40px;
	background-color: #F4F4F6;
}
.leading{
	background-image: url(img/fon.png);
}
.text{
	display: inline-block;
	margin-right: 200px;
}
.block1, .block2{
	display: inline;
}
.welc{
	text-align: center;
}
.form-control{
	margin: 5px;
}
.ppl{
	width: 400px;
}
.form-group{
	margin: 10px 0 0;
}
.form-control{
	height: 40px;
	margin: 0;
}
option{
	font-size: 18px;
}